@import 'variables.scss';

.nav {
    background: $primary;
    padding: 20px 10px;
    
    a {
        color: $light;
        font-weight: 700;
        margin-right: 2rem;
        letter-spacing: 2px;
        font-family: $heading;
        font-size: 20px;
    }

    .input-group {
        border: 3px solid $dark;
        input[type="text"] {
            background: $dark;
        }
    }
    
}