// basics
$light: #f7f7f7;
$mid-light: #ccc;
$dark: #383838;

// primaries 
$primaryBg: #f19691;
$primaryLight: #f9dad8;
$primary: #f33930;
$primaryDark: #c31e15;

$screen: #a9c1e6;

// types
$grassColor: #3aad54;
$fightingColor: #a71a32;
$fireColor: #e46008;
$rockColor: #7b5439;
$groundColor: #daa13f;
$normalColor: #dddfbd;
$electricColor: #dfc817;
$insectColor: #94de66;
$poisonColor: #731cd1;
$ghostColor: #8970a7;
$psychicColor: #de66c8;
$fairyColor: #e094c6;
$darkColor: #201e23;
$steelColor: #9aa8bd;
$dragonColor: #3215c1;
$waterColor: #1d9acf;
$flyingColor: #78d4d7;
