@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Bebas+Neue&family=VT323&display=swap');

$monospace1: 'VT323', 'Roboto Mono', monospace;

$headings1: 'Archivo', 'Montserrat', Arial, Helvetica, sans-serif;
$headings2: 'Bebas Neue', 'Archivo', 'Montserrat', Arial, Helvetica, sans-serif;